body {
    color: white;
    text-align: center;
    font-family: 'Staatliches', sans-serif;
}

img {
    height: 400px;
    width: 400px;
}

h1 {
    font-size: 50px;
}
.start {
    font-size: 50px;
    background-color: #87EAD7;
    font-weight: 800;
    padding: 20px;
}

.button {
    display: flex;
    justify-content: center;
}

.Part-two-yes {
    font-size: 50px;
    font-weight: 800;
    background-color: #00A7C5;
}

.Part-two-no {
  font-size: 50px;
    font-weight: 800;
    background-color: #00A7C5;
}
.part-three-yes{
    font-size: 50px;
    font-weight: 800;
    background-color: #00A7C5;
}

.part-four-yes{
    font-size: 50px;
    font-weight: 800;
    background-color: #00A7C5;
}

.Last-yes{
    font-size: 50px;
    font-weight: 800;
    background-color: #00A7C5;
}
